In [17]:
import pandas as pd
from pathlib import Path
import sys
import os
import numpy as np


sys.path.append(os.path.abspath('../src'))
project_dir = project_dir = Path.cwd().parent

# GISAID settings:
# Location: South America, Brazil
# Collection: 2012-12-31 -> 2020-12-31
# Total as off 23/07/25 is 1509

serotype_props = pd.read_csv(project_dir / "data" / "raw" / "Serotype_Progression.csv")
serotype_props

,variant,yearmth,percentage
0,DENV2,"2013-01,2013-02,2013-03,2013-04,2013-05,2013-0...","0.3333,0.0946,0,0,0.0727,0,0,0,0,0,0,0,0,0,0,0..."
1,DENV4,"2013-01,2013-02,2013-03,2013-04,2013-05,2013-0...","0.5333,0.7703,0.9805,0.84,0.6727,1,1,1,1,0.333..."
2,DENV1,"2013-01,2013-02,2013-03,2013-04,2013-05,2013-0...","0.1333,0.1081,0.0117,0.16,0.0545,0,0,0,0,0.333..."
3,DENV3,"2013-01,2013-02,2013-03,2013-04,2013-05,2013-0...","0,0.027,0.0078,0,0.2,0,0,0,0,0.3333,0.3333,0.3..."

In [ ]:
serotype_prop_df = pd.DataFrame({
        "Date": [],
        "Prop": [],
        "Serotype": []

    })
for i,serotype in enumerate(serotype_props['variant']):
    dates = serotype_props['yearmth'].iloc[i].split(',')
    prop = np.array(serotype_props['percentage'].iloc[i].split(','), dtype=np.float32)

    new_df = pd.DataFrame({
        "Date": dates,
        "Prop": prop,
        "Serotype": serotype

    })
    serotype_prop_df = pd.concat([serotype_prop_df, new_df])

serotype_prop_df = serotype_prop_df.pivot(index='Date', columns='Serotype', values='Prop')
serotype_prop_df

/var/folders/5f/9g0vtmkj22j_xbhxyrknnv140000gn/T/ipykernel_16987/143967490.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  serotype_prop_df = pd.concat([serotype_prop_df, new_df])

Serotype   DENV1   DENV2   DENV3   DENV4
Date
2013-01   0.1333  0.3333  0.0000  0.5333
2013-02   0.1081  0.0946  0.0270  0.7703
2013-03   0.0117  0.0000  0.0078  0.9805
2013-04   0.1600  0.0000  0.0000  0.8400
2013-05   0.0545  0.0727  0.2000  0.6727
...          ...     ...     ...     ...
2020-08   0.0000  1.0000  0.0000  0.0000
2020-09   0.0000  1.0000  0.0000  0.0000
2020-10   0.0000  1.0000  0.0000  0.0000
2020-11   0.0000  1.0000  0.0000  0.0000
2020-12   1.0000  0.0000  0.0000  0.0000

[96 rows x 4 columns]

In [66]:
serotype_prop_df.to_csv(project_dir / "data" / "transformed" / 'serotype_prop.csv', index=True)